<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/" do %>
    <%= cl_image_tag("https://res.cloudinary.com/dqxwg5nmh/image/upload/v1625589568/Tabato/logo_transparent_bvcfyt.png",
    width: 60, crop: :fill) %>
  <% end %>

<div class="navbar-right">
  <div class="nav-item">
    <%= link_to "Quiénes somos", "about", class: "nav-link" %>
  </div>

  <button type="button" class="btn btn-dark">
    <%= link_to "Contáctanos", "contact", class: "nav-link-button" %>
  </button>

  <%# <%= link_to "#", class: "navbar-suppliers" do %>
  <%#   Suppliers
  <%#  <% end %>


  </div>
</div>
